@tailwind base;
@tailwind utilities;
@tailwind components;

::-webkit-scrollbar {
  background-color: #09090A;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(139 92 246);
  width: auto;
}